[Unit]
Description=ACME-Tiny (timer)

[Timer]
# On the 1st and 16th of each month
OnCalendar=*-*-1,16
RandomizedDelaySec=24h
Persistent=true

[Install]
WantedBy=timers.target
